/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable'), 'Inter-Variable', serif;
  font-variation-settings: 'wght' var(--text-fw);
  background-color: var(--background-color);
  color: var(--main-color);
  background-image: var(--background-grad);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  font-family: var(--accent-font, 'Press Start 2P'), 'Press Start 2P', serif;
  padding: 100px 0;
}

.header__content {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  text-align: center;
  padding-top: clamp(7.5rem, 7rem + 1.6vi, 8rem);
  padding-bottom: clamp(7.5rem, 7rem + 1.6vi, 8rem);
  padding-left: clamp(0.875rem, -5.781rem + 21.3vi, 7.531rem);
  padding-right: clamp(0.875rem, -5.781rem + 21.3vi, 7.531rem);
  min-inline-size: 375px;
}

.header__title {
  font-size: var(--font-title-size);
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: var(--font-subtitle-size);
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: center;
}

.article {
  background-color: var(--background-color);
  font-size: 18px;
  border: 2px solid var(--main-color);
  width: clamp(23.438rem, 3.125rem + 65vi, 43.75rem);
  margin-bottom: 50px;
}

.article__title {
  font-size: 18px;
  padding: 3px 24px 3px 10px;
  font-variation-settings: 'wght' var(--title-fw);
  border-bottom: 2px solid var(--main-color);
}

.article__img {
  width: 100%;
  height: clamp(23.438rem, 3.125rem + 65vi, 43.75rem);
  object-fit: cover;
}

.article__text-wrapper {
  border-top: 2px solid var(--main-color);
  padding: 25px;
}

.article__text-block {
  display: grid;
  gap: 27px;
  margin-bottom: 25px;
}

.article__text {
  line-height: 21px;
}

.article__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.article__img-wrapper {
  position: relative;
  height: clamp(23.438rem, 3.125rem + 65vi, 43.75rem);
}

.article__img-label {
  position: absolute;
  z-index: 2;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font, 'Press Start 2P'), 'Press Start 2P', serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
  -1px 0 var(--stroke-color), 
  0 1px var(--stroke-color), 
  1px 0 var(--stroke-color), 
  0 -1px var(--stroke-color);
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .article__img-label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__icon-button {
  background-color: transparent;
  border: none;
  margin-top: 8px;
}

.card__like-button {
  cursor: pointer;
  font-family: var(--accent-font, 'Press Start 2P'), 'Press Start 2P', serif;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  border: 2px solid var(--main-color);
  inline-size: 130px;
  block-size: 38px;
  position: relative;
}

.button__main {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  padding: 15px 20px;
  margin: 0 auto 100px;
  background-color: var(--background-color);
  position: relative;
}

.button__main-text {
  font-family: var(--accent-font, 'Press Start 2P'), 'Press Start 2P', serif;
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  min-inline-size: 341px;
  max-inline-size: 353px;
  border: 2px solid var(--main-color);
  padding: 30px;
  font-family: var(--accent-font, 'Press Start 2P'), 'Press Start 2P', serif;
  font-size: 14px;
  background-color: var(--background-color);
}

.dialog__text {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.dialog__icon {
  width: 56px;
  height: 39px;
  padding-top: 6px;
}

.dialog__alert {
  line-height: 150%;
  text-transform: uppercase;
  min-inline-size: 198px;
  max-inline-size: 234px;
}

.dialog__button {
  text-transform: uppercase;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--main-color);
  line-height: 90%;
  padding: 12.5px 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .button__main {
    display: flex;
    flex-direction: column;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }
}

.img-2 {
  filter: grayscale(100%);
}

.img-3 {
  filter: sepia(80%);
}

.img-4 {
  filter: brightness(150%);
}

.img-5 {
  filter: contrast(130%);
}

.img-6 {
  filter: saturate(158%);
}

.img-7 {
  filter: blur(3px);
}

.img-8 {
  filter: hue-rotate(90deg) saturate(200%) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

.button__main:focus {
  outline: none;
}

.button__main:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

.card__like-button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__main::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.5s ease-in-out;
}

.button__main:hover::before {
  transform: scaleX(1);
}

.button__icon-wrapper, 
.button__main-text {
  position: relative;
  z-index: 1; 
  color: var(--background-color);
  mix-blend-mode: difference; 
  transition: color 0.5s ease-in-out;
}
